@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    background-color: rgb(40, 40, 190);
    max-width: 100%;
}


#navbar h1{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 80px;
    padding-top: 10px;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding-top: 2rem ;
}

#navbar li {
    font-family: cursive;
    padding-right: 80px;
    list-style: none;
    padding-top: 10px;
}

/* Hero Section */
.meeting{
    display: flex;
    width: 100%;
    height: 90vh;
    margin-bottom: 5px;
    margin-top: 0rem;
    padding-top: 40px;
    background-color: rgb(15, 12, 12);
   

 }

 .meeting .content{
    width: 40%;
    padding: 70px 0 0 60px;
 }

 .meeting .content h1{
    font-size: 70px;
    color: #fff;
    margin-top: 6rem;
    text-align: center;
    }

    .meeting .content p{
        color: #fff;
    }
    .meeting img{
        padding-left: 16rem;
    }

    .meeting button{
    cursor: pointer;
    width: 100px;
    display: inline-block;
    border-radius: 20px;
    font-weight: bold;
    padding: 15px 15px;
    background: #fff;
    color: black;
    font-size: 12px;
    text-align: center;
    margin-left: 11rem
    }

/* Partners logos section */
    #partners{
        margin: 5rem 0;
        }

        
    #partners img{
        width: 200px;
        gap: 3rem;
    }

/* Store Section */
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 50px 50px;
        margin-top: 3rem;
        background-color: #333;
    }
    
    .container .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        max-width: 100%;
        height: 400px;
        background: white;
        border-radius: 20px;
        transition: 0.5s;
        box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    }
    
    .container .card:hover {
        height: 400px;
        cursor: pointer;
    }
    
    .container .card .img-box {
        position: absolute;
        top: 20px;
        width: 300px;
        height: 220px;
        background: #333;
        border-radius: 12px;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .container .card:hover .img-box {
        top: -100px;
        scale: 0.75;
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    }
    
    .container .card .img-box img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .container .card .content {
        position: absolute;
        top: 252px;
        width: 100%;
        height: 35px;
        padding: 0 30px;
        text-align: center;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .container .card:hover .content {
        top: 130px;
        height: 250px;
    }
    
    .container .card .content h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--clr);
    }
    
    .container .card .content p {
        color: #333;
    }
    
    .container .card .content a {
        position: relative;
        top: 15px;
        display: inline-block;
        padding: 12px 25px;
        text-decoration: none;
        background: var(--clr);
        color: white;
        font-weight: 500;
    }
    
    .container .card .content a:hover {
        opacity: 0.8;
    }

/* About */
    #about{
        padding: 40px;
        text-align: center;
    }
    
    #about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
    }
    
    #about h2{
        margin: 30px 0;
        color: var(--primary-color);
    }
    
    .social a{
        margin: 0 5px;
    }

     .price{
        font-size: 20px;
        font-weight: bold;
        font-family: cursive;
    }

/* Footer */
    #footer ul{
        width: 100%;
        background-color: rgb(40, 40, 190);
        color: #fff;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 30px;
        margin: 0;
    }
    
    
    #footer li{
        font-family: cursive;
        margin: 2px;
        list-style: none;
    }

    @media (max-width: 600px) {

        #navbar{
            display: block;
        }
        
        #navbar h1{
            font-size: 20px;
            text-align: center;
            padding-left: 0rem;
        }

        #navbar a{
            text-align: center;
            padding-left: 80px;
        }
        .meeting .content{
           
            margin-top: 0;
            width: 100%;
            
            flex-direction: column;
        }

        .meeting{
            background-image: url(images/pexels-pixabay-277319.jpg);
            background-position: center;
            background-size: 150%;
            background-repeat: no-repeat;
        }
        .meeting img{
            background-position: center;
        }

        .meeting .content h1{
            font-size: 3rem;
           text-align: center;
            justify-content: center;
            color: #fff;
            margin-top: 0.5px;
            /* padding-bottom: 30px; */
            margin-left: 110px;
            padding-right: ;
        }

        .meeting .content p{
            display: none;
        }
        
        .meeting button{
        margin-left: 170px;
        margin-top: 250px;
        }

        .container .card {
            width: 230px;
            border-radius: 15px;
        }
    
        .container .card .img-box {
            width: 185px;
            border-radius: 10px;
        }
    
        .container .card .content p {
            display: ;
        }
    
        .container .card .content a {
            font-size: 0.9rem;
        }

       
            
        }
    
